<footer class="wd-footer">
  <section class="footer-main">
    <div class="contain">
      <div class="footer-top">
        <div class="footer-logo">{{ICON_FOOTER_LOGO}}</div>
        <div class="footer-region"><p class="text-xs">Country/Region:</p><a href="/region-selector" aria-label="United States">United States</a></div>
      </div>
      <div class="footer-cols">
        <div class="footer-col"><div class="footer-col-inner">
          <p class="footer-heading">Shopping</p>
          <ul>
            <li><a href="/store/my-account">My Account</a></li>
            <li><a href="/company/programs/communications-registration">Sign Up for Email</a></li>
            <li><a href="/promo">Discounts &amp; Promotions</a></li>
            <li><a href="/products/product-portfolio">Product Portfolio</a></li>
            <li><a href="/support/store/warranty-policy">Warranty Policy</a></li>
            <li><a href="/support/store/return-policy">Return Policy</a></li>
            <li><a href="/company/distributors">Distributors &amp; Resellers</a></li>
            <li><a href="/support/store/shopping-faq">Shopping FAQ</a></li>
          </ul>
        </div></div>
        <div class="footer-col"><div class="footer-col-inner">
          <p class="footer-heading">Programs</p>
          <ul>
            <li><a href="/business/account-benefits">Business Account Benefits</a></li>
            <li><a href="/company/programs/data-recovery">Data Recovery</a></li>
            <li><a href="/company/programs/easy-recycle">Recycle Program</a></li>
            <li><a href="/business/line-of-credit">WD Credit</a></li>
            <li><a href="/business/pro-rewards">Pro Rewards</a></li>
            <li><a href="/company/partners">Partner Programs</a></li>
            <li><a href="/company/corporate-responsibility/philanthropy">Philanthropic Programs</a></li>
            <li><a href="/company/western-digital-capital">Western Digital Capital</a></li>
          </ul>
        </div></div>
        <div class="footer-col"><div class="footer-col-inner">
          <p class="footer-heading">Company</p>
          <ul>
            <li><a href="/company">About Us</a></li>
            <li><a href="/company/newsroom">News &amp; Events</a></li>
            <li><a href="/company/leadership">Leadership</a></li>
            <li><a href="/company/corporate-responsibility">Corporate Responsibility</a></li>
            <li><a href="/privacy-center">Privacy Center</a></li>
            <li><a href="https://blog.westerndigital.com/">Blog</a></li>
            <li><a href="/careers">Careers</a></li>
            <li><a href="https://investor.wdc.com/">Investors</a></li>
            <li><a href="/company/office-locations">Office Locations</a></li>
            <li><a href="/company/contact-us">Contact Us</a></li>
          </ul>
        </div></div>
        <div class="footer-col"><div class="footer-col-inner">
          <p class="footer-heading">Support</p>
          <ul>
            <li><a href="/support">Get Help</a></li>
            <li><a href="/support/store/resource-library">Resource Library</a></li>
            <li><a href="/support/product-security">Product Security</a></li>
          </ul>
          <div class="fc-block"><p class="footer-support">Online Store Support:<br>US +1 (855)-799-5529<br>Monday — Friday, 8am — 5pm PST</p></div>
          <div class="fc-block"><div class="footer-social">
            <a href="https://www.instagram.com/wd_official/" aria-label="Instagram for WesternDigital">{{ICON_INSTAGRAM}}</a>
            <a href="https://www.linkedin.com/company/western-digital/" aria-label="Linked In for WesternDigital">{{ICON_LINKEDIN}}</a>
            <a class="x" href="https://x.com/wd_corporation" aria-label="WD on X">{{ICON_X}}</a>
            <a href="https://www.facebook.com/WD" aria-label="Facebook for WesternDigital">{{ICON_FACEBOOK}}</a>
            <a href="https://www.youtube.com/channel/UCQpijqbZeCM3zLew0ZwiX4A" aria-label="Youtube for WesternDigital">{{ICON_YOUTUBE}}</a>
          </div></div>
          <div class="fc-block"><a class="footer-badge" href="/company/newsroom/press-releases/2026/2026-03-17-ethisphere-names-western-digital-as-one-of-the-2026-worlds-most-ethical-companies" target="_blank" rel="noopener"><img src="https://www.westerndigital.com/content/dam/store/en-us/assets/company/ethisphere-award.png.wdthumb.1280.1280.webp" alt="ethisphere-award" width="100"></a></div>
        </div></div>
      </div>
    </div>
  </section>
  <section class="footer-legal">
    <div class="contain">
      <ul>
        <li><a href="/legal/privacy-statement">Privacy</a></li>
        <li><a href="/legal">Legal</a></li>
        <li><a href="/legal/trademarks">Trademarks</a></li>
        <li><a href="/legal/terms-and-conditions-of-sale-consumer">Terms of Sale</a></li>
        <li><a href="/company/sustainability/product-compliance">Product Compliance</a></li>
        <li><a href="#">Cookie Preferences</a></li>
      </ul>
      <div class="copyright">© 2026 Western Digital Corporation or its affiliates. All rights reserved.</div>
    </div>
  </section>
</footer>
